<h1><center>Sign In, Drunky!</center></h1>

<%= form_for :session, :url => sessions_path do |f| %>

<div class= "input_fields">

<h3>Name</h3>
<%= f.text_field :name %>

<h3>Password</h3>
<%= f.password_field :password %>
</div>

<div class= "input_buttons">
  <%= f.submit "Time to Drink!", class: "large button expand radius round [secondary success alert]" %><br>

  <%= link_to "Sign Up For Madness", new_user_path, class: "large button expand radius round [secondary success alert]" %>
</div>

<% $starttime = Time.now %>
<% end %>