<%= form_for @user do |f| %>

<div class= "input_fields"
<h3>Name</h3>

 <%= f.text_field :name %>

<h3>Password</h3>

 <%= f.password_field :password %>

<h3>Gender</h3>

 <%= f.select :gender, [['Guy'], ['Lady'], ['I don\'t subscribe to gender roles']] %>

<h3>Weight</h3>

 <%= f.number_field :weight %>

<h3>Avatar</h3>

 <%= f.file_field :avatar %>

</div>

<div class="input_buttons">
<%= f.submit "Submit", class: "large button expand [secondary success alert]" %>
</div>

<% end %>