
<%= form_for @user do |f| %>

<div class= "input_fields"
<h3>Name</h3>

 <%= f.text_field :name %>

<h3>Password</h3>

 <%= f.password_field :password %>

<h3>Gender</h3>

 <%= f.select :gender, [['Guy'], ['Lady'], ['I don\'t subscribe to gender roles']] %>

<h3>Weight</h3>

 <%= f.number_field :weight %>

<h3>Avatar</h3>

 <%= f.file_field :avatar %>

</div>



<div class="input_buttons">
<%= f.submit "Submit", class: "large button expand radius round [secondary success alert]" %>
</div>

<h3>Set Current BAC to your Preferred BAC<h3>
  <div class="input_buttons">
      <%= form_for @user do |t| %>
     <%= t.hidden_field :preferred_bac, value: $current_bac %>
     <%= t.submit "Happy Place", class: "large button expand radius round [secondary success alert]" %>
   <% end %>
 </div>


<% end %>