<h1><%= @user.name %>'s Profile</h1>

<div id="profile-photo">
          <% if @user.avatar_file_name %>

          <!-- May need to change this back to avatar_url once on heroku -->
            <%= image_tag @user.avatar.url(:medium) %><br /><br />
          <% end %>
        </div>

        Name: <%= @user.name %>

        Gender: <%= @user.gender %>

        Weight: <%= @user.weight %>

        Current BAC: <%= @user.current_bac %>

        Preferred BAC: <%= @user.preferred_bac %>

            <%=link_to "Edit Profile", edit_user_path(current_user), class: "small button" %>

            <%= link_to "Log Out", session_path, :method => :delete %>