<HEAD>

<SCRIPT LANGUAGE="JavaScript">

<!-- Begin
function solveBAC(form) {
var alcohol = eval(form.ounces.value);
var percent = eval(form.percent.value);
var weight = eval(<%= @user.weight.to_json %>);
var hours = eval(form.hours.value);

var result = (alcohol * percent * 0.075 / weight) - (hours * 0.015);
if (result < 0) {
message = "There is a negligible amount of alcohol in your system.  You are not legally intoxicated.";
result = "-- neglible amount --";
}
else {
if (result == "NaN")
mesage = "Please try again.";
if (result > 0.08)
message = "In MOST and possibly ALL states you would be considered intoxicated and arrested for DUI.";
if (result < 0.08)
message = "You are not legally intoxicated";
}
form.message.value = message;
form.bacamount.value = result + " %";
}
//  End -->
</script>
</HEAD>

<BODY>


<h1 class= "text-center"><%= @user.name %>'s Current Predicament</h1>

<div id="profile-photo">
          <% if @user.avatar_file_name %>

            <center><%= image_tag @user.avatar_url(:small) %></center><br /><br />
          <% end %>
        </div>

<!-- Work in progress until I can set up all variable and make sure erb works for equations -->
        <h1 class="text-center">UrBAC:<br>
          <%= @user.current_bac %></h1>

        <h3>Preferred BAC:<br>
          <%= @user.preferred_bac %></h3>

<div class= "input_buttons">
        <%= link_to "Add a Drink", new_user_drink_path(current_user), class: "small button [secondary success alert]" %>
          </div>

          <ul class= "text-center">
            <% @user.drinks.each do |d| %>
                  <li><%= d.user_drink_ids %></li>
            <% end %>
          </ul>
<center>

<form method=post name=bacform>
<table border=4>
<tr>
<td align=center>
Fluid Ounces Consumed
</td>
<td align=center>
<input type=text name=ounces size=6>
</td>
<td align=center>
Percent Alcohol
</td>
<td align=center>
<input type=text name=percent size=6>
</td>
</tr>
<tr>
<td align=center>
Hours Consuming Drink
</td>
<td align=center>
<input type=text name=hours size=6>
</td>
</tr>
<tr>
<td colspan=4 align=center>
<input type=button name=bac value="Calculate Your BAC %" onClick="javascript:solveBAC(this.form)">
</td>
</tr>
<tr>
<td align=center>
BAC Percentage
</td>
<td colspan=3 align=center>
<input type=text name=bacamount size=21>
</td>
</tr>
<tr>
<td align=center>
BAC Analysis
</td>
<td colspan=3 align=center>
<textarea name=message rows=3 cols=35 wrap=virtual></textarea>
</td>
</tr>
</table>
</form>
</center>

</body>